.tableContainer {
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
}

.header {
  margin-bottom: 10px !important;
}

.table {
  width: 100%;
  color: #5a4d4d;
  height: 400px;
  overflow: scroll;
}
.table::-webkit-scrollbar {
  display: none;
}

.table tr td {
  padding: 0.5rem;
  border: none;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table tr:nth-of-type(odd) {
  background-color: #eeeeee;
}
