.app__dropdown,
.app__dropdown:hover,
.app__dropdown:focus {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

@media (max-width: 1080px) {
  .app__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .app__dropdown {
    margin-top: 10px;
  }
}
