* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f2f9;
  height: 100%;
}

.app {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  height: 100%;
}

.app__left {
  flex: 0.75;
  margin-left: 5px;
  height: 100%;
}

.app__right {
  margin-right: 5px;
  flex: 0.23;
  background-color: #ffffff;
  height: 100%;
}

@media (max-width: 1280px) {
  .app {
    flex-direction: column;
  }
}
