* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f2f9;
  height: 100%;
}

.app {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  height: 100%;
}

.app__left {
  flex: 0.75;
  margin-left: 5px;
  height: 100%;
}

.app__right {
  margin-right: 5px;
  flex: 0.23;
  background-color: #ffffff;
  height: 100%;
  border-radius: 20px;
}

.leaflet-container {
  height: 100%;
  border-radius: 12px;
}

.info-flag img {
  width: 100px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.info-container {
  width: 150px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}

.slideUp-appear {
  transform: translateY(30px);
  opacity: 0.5;
}
.slideUp-appear.slideUp-appear-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s;
}
.slideUpLittle-appear {
  transform: translateY(10px);
  opacity: 0.5;
}
.slideUpLittle-appear.slideUpLittle-appear-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s;
}

@media (max-width: 1280px) {
  .app {
    flex-direction: column;
  }
}
